
.navbar {
    background-color: rgba(196, 196, 196, 0.3);
}

body, head {
    font-family: 'Montserrat', sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar-nav li a {
    padding-left: 25px;
}

.col-md-3 a {
    color: #ffffff;
}

.col-md-2 a {
    color: #ffffff;
}
footer {
    background-color: #947A8F;
    color: #FFFFFF;
}